input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 45%;
}

button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  background-color: rgb(78, 125, 235);
  border-radius: 5px;
}

.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}
